.custom-file-upload {
    background-color: dimgray;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.5s;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
}
.custom-file-upload:hover {
    background-color: grey;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}

.p_sendPicture {
        font-size: 1.3em;
    }

@media screen and (max-width: 600px) {
    .custom-file-upload {
        margin-top: 10px;
        padding: 8px 16px;
        font-size: 1.15em;}

    .p_sendPicture {
        font-size: 1.1em;
    }
}